@use '../../variables.scss' as vars;


.messages-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  pointer-events: none; // Allow clicks to pass through
  z-index: 1000; // Ensure it's above other content

}

.overlay {
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none; // Allow clicks to pass through
}

.message {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  animation: fadeIn 0.3s ease-out, fadeOut 0.5s ease-in 1s forwards;
  opacity: 1;
}

.icon {
  margin-right: 10px;
  font-size: xx-small;
}

.text {
  font-size: xx-small;
  text-transform: uppercase;
}

// Message type styles
.info {
  background-color: var(--color_3);
  color: white;
}

.warn {
  background-color: var(--color_1);
  color: white;
}

.error {
  background-color: var(--color_4);
  color: white;
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}