.logger {
  width: 100%;
  max-height: 100%;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 18px;
  padding-right: 18px;


}

.logger-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.version-badge {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10px;
  line-height: 13px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.toggle-button {
  background: transparent;
  border: 1px solid var(--app--highlight__border);
  color: var(--app--text);
  font-family: inherit;
  text-transform: uppercase;
  font-size: 10px;
  padding: 12px 8px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 30px;


  &:hover {
    background: var(--app--deep);
  }
}

.logger-content-wrapper {
  border: 1px solid var(--app--highlight__border);
  border-radius: var(--border-radius);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.logger-content {
  width: auto;
  height: auto;
  font-family: 'Space Mono', monospace;
  font-size: x-small;
  color: var(--app--text);
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  display: block;
  word-break: break-word;
  margin: 10px;
  line-height: 18px;

  &>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }

  &::-webkit-scrollbar {
    width: 8px;
    margin-right: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
    border-radius: var(--border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--app--deep__border);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--app--highlight__border);
  }
}

.log-info {
  color: var(--app--text);
}

.log-debug {
  color: var(--app--text);
}

.log-warn {
  color: var(--app--warning);
}

.log-error {
  color: var(--app--error);
}