/* Import variables */
@use '../../variables.scss' as vars;

.app-canvas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  gap: 10px;
    padding-left: 18px;
  padding-right: 18px;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--app--deep);
  background-image: linear-gradient(
      to right,
      var(--app--deep__border) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--app--deep__border) 1px, transparent 1px);
  background-size: 33.33% 33.33%;
  background-position: 0 0;
  box-sizing: border-box;
}

.canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid var(--app--deep__border);
  color: var(--font-light);
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
}

.empty-state-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-light);
  background: transparent;
  pointer-events: none;
  font-size: small;
  z-index: 2;
}
