/* Remove SCSS import */
/* @use '../../variables.scss' as vars; */


.data-title {
  font-size: 1px;
  text-wrap: wrap;
  font-weight: bold;
}



.layer-data-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32px;
  border-radius: var(--border-radius);


}

.layer-data {
  display: flex;
  width: 100%;
  height: 32px;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  padding-left: 14px;
  word-break: break-word;
  overflow-wrap: break-word;
  border: 1px solid var(--app--highlight__border);
  border-radius: var(--border-radius);
  color: var(--app--color);

}

.layer-data-name {
  width: 100%;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layer-data-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  flex-shrink: 0;
  border-left: 1px solid var(--app--highlight__border);
}

.layer-data-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100%;
  text-align: center;
  border-left: 1px solid var(--app--highlight__border);
}

.layer-data-remove {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
  background-color: transparent;
  border-left: 1px solid var(--app--highlight__border);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  &:hover {
    background-color: var(--app--deep);
  }
}

.layer-properties {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

}

.property-row {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.data-key {
  font-weight: bold;
  color: var(--fontColor);
}

.data-toggle-button {
  cursor: pointer;
  font-size: xx-small;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  background-color: var(--app--highlight);
  transition: all 0.2s ease;
  border: 1px solid var(--app--deep__border);
  border-right: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);


  &:hover {
    border: 1px solid var(--color_3);
    border-right: none;
    color: var(--app--bg);
    background-color: var(--color_3);
  }

  &:hover+.layer-data {
    border: 1px solid var(--color_3);
    border-left: none;
  }
}

.data-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--app--color);
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;

  padding-left: 18px;
  padding-right: 18px;
  position: sticky;
  top: 0;
  border-radius: var(--border-radius);
  user-select: none;



  // Hide scrollbar while maintaining scroll functionality
  // scrollbar-width: none; // Firefox
  // -ms-overflow-style: none; // Internet Explorer 10+

  // &::-webkit-scrollbar {
  //   display: none; // WebKit browsers (Chrome, Safari, Edge)
  // }


}



.property-item {
  margin: 4px 0;
}

.data-value {
  color: var(--app--color);
  word-break: break-all;
}

.simulation-status {
  font-size: 10px;
  color: var(--fontColor);
  text-transform: uppercase;

}

.simulation-status-key {
  color: var(--font-light);
}

.global-properties {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 10px;
  text-transform: uppercase;
}

.global-properties>div {
  text-transform: uppercase;
  text-align: left;

}

.global-properties>div>span {

  padding-right: 2px;
  color: var(--font-light);
}